
.tutorialjs-wrapper {
	max-width: 960px;
	margin: 0 auto;
}
.tutorialjs-header {
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -1px;
}
.tutorialjs-button {
	background: #69c;
	color: white;
	padding: 0.3em 0.6em;
	display: inline-block;
	font-size: 90%;
	cursor: pointer;
}
.tutorialjs-button:hover {
	opacity: .85;
}
.tutorialjs-hide {
	display: none;
}
.tutorialjs-image {
	float: right;
	width: 400px;
	max-width: 100%;
}
.tutorialjs-step {
	padding-right: 420px;
}