
.tutorialjs-wrapper {
	max-width: 60em;
	margin: 0 auto;
}
.tutorialjs-header {
	font-size: 150%;
	font-weight: bold;
	margin: 0 0 0.8em;
	letter-spacing: -1px;
}
.tutorialjs-image {
	float: right;
	width: 28em; /** Image width (~400px) - Has to be slightly lower than padding-right in tutorialjs-step **/
	max-width: 100%;
}
.tutorialjs-step {
	padding-right: 29.2em;
}

/************* Left align option ************/
.tutorialjs-left .tutorialjs-image {
	float: left;
}
.tutorialjs-left .tutorialjs-step {
	padding-right: 0;
	padding-left: 29.2em;
}
.tutorialjs-left .tutorialjs-text, .tutorialjs-left .tutorialjs-options {
	text-align: left;
}
/************/

.tutorialjs-options {
	margin-top: 1.2em;
	text-align: right;
}
.tutorialjs-button {
	background: #69c;
	border-left: .4em solid transparent;
	color: white;
	padding: 0.3em 0.8em 0.3em 0.4em;
	display: inline-block;
	font-size: 90%;
	text-decoration: none;
	cursor: pointer;
	margin: 0.3em 0;
	vertical-align: bottom;
}
.tutorialjs-button.tutorialjs-back {
	margin-right: 0.6em;
	float: left;
}
.tutorialjs-button:hover {
	opacity: .85;
}
.tutorialjs-button:active {
	border-color: #047;
}

.tutorialjs-button.tutorialjs-loading {
	        animation: 0.8s infinite ease-in-out tutorialjs-border;
	     -o-animation: 0.8s infinite ease-in-out tutorialjs-border;
	    -ms-animation: 0.8s infinite ease-in-out tutorialjs-border;
	   -moz-animation: 0.8s infinite ease-in-out tutorialjs-border;
	-webkit-animation: 0.8s infinite ease-in-out tutorialjs-border;
}
@keyframes tutorialjs-border {
	50% { border-color: transparent; }
	0%, 100% { border-color: #047; }
}
@-o-keyframes tutorialjs-border {
	50% { border-color: transparent; }
	0%, 100% { border-color: #047; }
}
@-ms-keyframes tutorialjs-border {
	50% { border-color: transparent; }
	0%, 100% { border-color: #047; }
}
@-moz-keyframes tutorialjs-border {
	50% { border-color: transparent; }
	0%, 100% { border-color: #047; }
}
@-webkit-keyframes tutorialjs-border {
	50% { border-color: transparent; }
	0%, 100% { border-color: #047; }
}